nav {
    background: transparent;
    justify-self: center;
    border-radius: 10px;
    margin-bottom: 10vh;
    border: 2px solid color-mix(in srgb, #a78bfa 40%, transparent);
    height: fit-content;
}

nav>ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin: 0;
}

nav li {
    padding: 0.5em;
}

nav a {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    text-decoration: none;
    color: azure;
    font-size: 1.5rem;
}

nav a:hover,
nav span:hover {
    color: #641da6;
}

nav li:hover {
    transform: translateY(-2px);
}

nav svg {
    max-width: 50px;
    width: 100%;
}

#contact:hover~span {
    display: block;
    position: absolute;
    color: azure;
    width: fit-content;
    text-wrap: balance;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-size: 1rem;
    padding: 15px;
    border-radius: 10px;
    background: color-mix(in srgb, #27272a 80%, transparent);
    z-index: 9999;
    left: -50%;
    top: 100%;
    margin-inline: auto;
}

#contact:hover~span::before {
    content: "";
    display: block;
    width: 5%;
    height: 10px;
    background: color-mix(in srgb, #27272a 80%, transparent);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    margin-inline: auto;
    position: relative;
    transform: translate(-200%, -250%);
}

#contact~span {
    display: none;
}

#hamburger-menu {
    display: none;
}

@media (max-width: 768px) {
    :root {
        --bar-width: 3rem;
        --bar-height: 1vh;
        --hamburger-gap: 1vh;
        --foreground: #fdfdfde6;
        --hamburger-margin: 8px;
        --animation-timing: 200ms ease-in-out;
        --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    }

    #hamburger-menu {
        --x-width: calc(var(--hamburger-height) * 1.41);
        display: flex;
        flex-direction: column;
        gap: var(--hamburger-gap);
        width: max-content;
        position: absolute;
        top: var(--hamburger-margin);
        left: var(--hamburger-margin);
        z-index: 2;
        cursor: pointer;
    }



    #hamburger-menu:has(input:focus-visible)::before,
    #hamburger-menu:has(input:focus-visible)::after,
    #hamburger-menu input:focus-visible {
        box-shadow: 0 0 0 1px var(--foreground);
    }

    #hamburger-menu::before,
    #hamburger-menu::after,
    #hamburger-menu input {
        content: "";
        width: var(--bar-width);
        height: var(--bar-height);
        background-color: var(--foreground);
        border-radius: 9999px;
        transform-origin: left center;
        transition: opacity var(--animation-timing), width var(--animation-timing),
            rotate var(--animation-timing), translate var(--animation-timing),
            background-color var(--animation-timing);
    }

    #hamburger-menu input {
        appearance: none;
        padding: 0;
        margin: 0;
        outline: none;
        pointer-events: none;
    }

    #hamburger-menu:has(input:checked)::before {
        rotate: 45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / -2);
    }

    #hamburger-menu:has(input:checked)::after {
        rotate: -45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / 2);
    }

    #hamburger-menu input:checked {
        opacity: 0;
        width: 0;
    }

    nav {
        width: 100%;
        border: none;
    }

    nav>ul {
        transition: translate var(--animation-timing);
        flex-direction: column;
        display: none;
        height: 100vh;
        width: 100vw;
        justify-content: space-evenly;
        padding: 0;
    }


    nav svg {
        width: 0px;
        height: 0px;
    }

    nav span,
    nav a {
        font-size: 1.9rem;
    }

    #hamburger-menu:has(input:checked)+ul {
        display: flex;
    }

    nav:has(#hamburger-menu input:checked) {
        margin: 0;
    }

    /* Hides other content when navbar is opened and prevents edge cases compared to js*/
    #root:has(#hamburger-menu input:checked)>#home>#intro,
    #root:has(#hamburger-menu input:checked)>#projects {
        display: none;
    }
}