#intro {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

#intro-container {
    height: 100%;
    align-content: center;
    margin: auto 10% auto;
    max-width: 605px;
    justify-self: center;
}

#intro-text {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #FEFEFF;
    font-size: 2.5rem;
    margin: 0;
}

#sub-intro-text {
    font-family: "IBM Plex Mono", monospace;
    color: #9c9c9c;
    margin: 5% auto;
    font-size: 1.5rem;
}

#portfolio-button {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-size: 1rem;
    max-width: 350px;
    margin: 5% auto auto;
    color: #a78bfa;
    border-color: #a78bfa;
    border-radius: 10px;
    padding: 20px;
    white-space: nowrap;
    background: color-mix(in srgb, #0d012f 60%, transparent);
}

#portfolio-button:hover {
    transition: all 200ms linear;
    color: white;
    background: #a78bfa;
}

#pfp-container {
    justify-self: center;
    align-self: center;
    filter: drop-shadow(1px 1px 20px #2c1d53);
    z-index: 2;
}

#profile-picture {
    max-width: 550px;
    object-fit: scale-down;
    width: 100%;
    clip-path: circle(45%);
}

@media (max-width:950px) {

    #intro {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    #intro-container {
        grid-row: 2;
        margin-top: 5vh;
    }
}