main {
  display: grid;
  margin-top: 15vh;
  background: radial-gradient(rgb(8, 9, 9),
      rgb(20, 20, 20));
}

#projects-title {
  justify-self: center;
  margin-bottom: 15vh;
}

:root {
  font-size: clamp(1rem, .9rem + .5vw, 1.3rem);
}