main {
  padding-left: 5vw;
  padding-right: 5vw;
  color: white;
  background-size: 100% 100%, 100% 100%, 60px 60px, 60px 60px;
  background-image: radial-gradient(circle at bottom, color-mix(in srgb, #c6b3fc 0%, transparent) 73%, #a88bfc 279%),
    radial-gradient(circle at top, color-mix(in srgb, #a78bfa 0%, transparent) 43%, #1d182b 100%),
    linear-gradient(to right,
      color-mix(in srgb, #a78bfa 30%, transparent) 1px, transparent 1px), linear-gradient(to bottom,
      color-mix(in srgb, #a78bfa 30%, transparent) 1px, transparent 1px);

}


#home {
  display: grid;
  background: linear-gradient(to bottom, #060010 0%, #060010 6%, #090016 11%, #070016 20%, #0a0121 48%, #0a0127 55%, #0a0129 57%, #0c012b 62%, #0e0131 68%, #0d012f 100%);
  padding-bottom: 15vh;
  position: relative;
  container-type: inline-size;
  overflow-x: clip;
}



#projects-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 30px;
  grid-auto-flow: row;

}

@media (max-width:600px) {
  #projects-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

#projects-title {
  margin: 15vh 0;
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
}